@charset "UTF-8";
/**
* Author: Mark Benson Opeña
**/
/** Modular scale **/
*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: "Quicksand", sans-serif;
  color: #0a0a0a;
  font-size: calc(14px + (32 - 14) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 320px)/(1600 - 320)));
  overflow-x: hidden;
  background-color: white;
  width: 100%; }

h1 {
  font-size: 30px; }
  @media (min-width: 567px) {
    h1 {
      font-size: calc(30px + 10 * (100vw - 567px) / 633); } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 25px; }
  @media (min-width: 567px) {
    h2 {
      font-size: calc(25px + 7 * (100vw - 567px) / 633); } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 32px; } }

h3 {
  font-size: 20px; }
  @media (min-width: 567px) {
    h3 {
      font-size: calc(20px + 10 * (100vw - 567px) / 633); } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 30px; } }

p {
  font-size: 16px; }
  @media (min-width: 567px) {
    p {
      font-size: calc(16px + 8 * (100vw - 567px) / 633); } }
  @media (min-width: 1200px) {
    p {
      font-size: 24px; } }

.is-hidden {
  display: none; }

/** Sections **/
#section-1 {
  height: 100vh; }
  @media only screen and (max-width: 640px) {
    #section-1 {
      height: auto; } }
  #section-1:after {
    content: '';
    max-width: 1140px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #bfbfbf;
    display: block;
    margin: auto; }
    @media only screen and (max-width: 640px) {
      #section-1:after {
        display: none; } }

/** Background video **/
#hero {
  width: 100%;
  height: 45vh;
  background-color: #000000;
  text-align: center;
  overflow: hidden; }
  @media only screen and (max-width: 1400px) {
    #hero {
      height: 36vh; } }
  #hero .video-cover {
    position: relative;
    width: 100%;
    height: 100%; }
    #hero .video-cover .preloader {
      position: absolute;
      background: url("../assets/images/banner.jpg") center no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      max-width: 1140px; }
      #hero .video-cover .preloader img {
        width: 100%; }
    #hero .video-cover video {
      height: 45vh;
      width: 100%;
      object-fit: cover;
      max-width: 1140px;
      display: none; }
    @supports (object-fit: cover) and (-ms-ime-align: auto) {
      #hero .video-cover video {
        height: auto;
        object-fit: cover;
        object-position: top left; } }

.section-wrapper {
  position: relative;
  padding: 1.5em 0;
  background-color: white; }

.play-icon {
  background: rgba(0, 0, 0, 0.55);
  width: 60px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 12px;
  margin: auto;
  z-index: 2;
  cursor: pointer; }
  .play-icon:hover {
    background-color: #cd201f; }
  .play-icon .tri {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #ffffff;
    margin: 0 auto; }

/** Welcome intro text **/
.welcome-intro {
  padding: 0; }
  .welcome-intro .intro {
    background-color: #222222;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    max-width: 850px;
    margin: 0 3rem;
    margin-top: -50px; }
    @media screen and (max-width: 576px) {
      .welcome-intro .intro {
        flex-flow: column wrap;
        align-items: flex-start;
        margin: -50px 1rem 0; } }
    .welcome-intro .intro .logo {
      max-width: 200px; }
      @media screen and (max-width: 767px) {
        .welcome-intro .intro .logo {
          max-width: 110px; } }
      .welcome-intro .intro .logo img {
        width: 100%;
        max-width: 200px; }
    .welcome-intro .intro .info {
      margin-left: 5%; }
      @media screen and (max-width: 767px) {
        .welcome-intro .intro .info {
          margin-left: 4%; } }
      @media screen and (max-width: 576px) {
        .welcome-intro .intro .info {
          margin-left: 0; } }
      .welcome-intro .intro .info p {
        color: #ffffff;
        letter-spacing: 0.3px;
        text-align: left;
        margin-bottom: 0;
        line-height: initial; }

/** GIF Carousel **/
#carousel-wrapper {
  padding: 1em 0; }
  @media (max-width: 767px) {
    #carousel-wrapper .container {
      max-width: 100%; } }

.carousel {
  position: relative; }
  .carousel h2 {
    text-align: center;
    margin-top: 2rem; }
  .carousel .carousel-image {
    display: flex;
    align-items: flex-end; }
    @media screen and (max-width: 768px) {
      .carousel .carousel-image {
        display: block; } }
    .carousel .carousel-image .image-holder {
      width: calc(100%/4);
      position: relative; }
      @media screen and (max-width: 768px) {
        .carousel .carousel-image .image-holder {
          width: 100%; } }
      .carousel .carousel-image .image-holder.active img.active-img {
        display: block;
        visibility: visible; }
        @media screen and (max-width: 768px) {
          .carousel .carousel-image .image-holder.active img.active-img {
            position: relative;
            margin: auto;
            vertical-align: bottom; } }
      .carousel .carousel-image .image-holder img {
        width: 100%; }
        @media screen and (max-width: 768px) {
          .carousel .carousel-image .image-holder img {
            width: auto;
            display: block;
            text-align: center;
            max-width: 300px; }
            .carousel .carousel-image .image-holder img.default-img {
              display: none; } }
        @media screen and (max-width: 576px) {
          .carousel .carousel-image .image-holder img {
            width: 100%;
            height: auto; } }
        .carousel .carousel-image .image-holder img.active-img {
          display: none;
          position: absolute;
          top: 0;
          visibility: hidden; }
  .carousel .carousel-info {
    text-align: center;
    margin-top: 1rem; }
    .carousel .carousel-info p {
      outline: none;
      opacity: 0;
      display: none;
      transition: opacity 0.5s ease-in-out; }
      .carousel .carousel-info p.active {
        opacity: 1;
        display: block; }
    .carousel .carousel-info .type-text {
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      margin: 0 auto;
      margin-bottom: 5px; }
      .carousel .carousel-info .type-text.green {
        color: #5ba042;
        animation: 0.2s travel steps(100, end); }
      .carousel .carousel-info .type-text.cyan {
        color: #0096e6;
        animation: 0.3s career steps(100, end); }
      .carousel .carousel-info .type-text.orange {
        color: #e3a036;
        animation: 0.3s education steps(100, end); }
      .carousel .carousel-info .type-text.red {
        color: #ed6a88;
        animation: 0.4s services steps(100, end); }

/** Call to action: SMS **/
@media only screen and (max-width: 768px) {
  #section-2 .container {
    max-width: 90%; } }
@media only screen and (max-width: 567px) {
  #section-2 .container {
    max-width: 100%; } }

.cta-container {
  position: relative;
  padding: 3em 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede; }
  @media (max-width: 576px) {
    .cta-container {
      padding: 2em 0; } }
  .cta-container .logo {
    text-align: center; }
    .cta-container .logo img {
      max-width: 200px; }
      @media (max-width: 767px) {
        .cta-container .logo img {
          max-width: 150px; } }
    .cta-container .logo .tagline {
      margin: 1.5rem 0;
      text-align: center; }
      .cta-container .logo .tagline strong {
        font-weight: 600; }
  .cta-container .input-group {
    margin: 0 auto;
    justify-content: center;
    flex-flow: row wrap;
    font-size: 20px; }
    @media only screen and (max-width: 767px) {
      .cta-container .input-group {
        font-size: 90%; } }
    @media only screen and (max-width: 500px) {
      .cta-container .input-group {
        font-size: 12px; } }
    .cta-container .input-group .rounded-select {
      height: 50px;
      border-radius: 36px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: inline-block;
      overflow: hidden;
      background-color: #0a0a0a;
      color: white;
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      cursor: pointer; }
      @media only screen and (max-width: 768px) {
        .cta-container .input-group .rounded-select {
          height: 45px; } }
      .cta-container .input-group .rounded-select:before {
        content: '';
        border-style: solid;
        border-width: 2px 2px 0 0;
        display: inline-block;
        height: 12px;
        right: 10px;
        position: absolute;
        vertical-align: top;
        width: 12px;
        top: -4px;
        bottom: 0;
        transform: rotate(135deg);
        margin: auto;
        z-index: -1; }
        @media only screen and (max-width: 768px) {
          .cta-container .input-group .rounded-select:before {
            height: 9px;
            width: 9px; } }
        @media only screen and (max-width: 500px) {
          .cta-container .input-group .rounded-select:before {
            height: 7px;
            width: 7px;
            right: 6px;
            top: -2px; } }
      .cta-container .input-group .rounded-select select#phoneCode1,
      .cta-container .input-group .rounded-select select#phoneCode2 {
        border: 0;
        outline: 0;
        background-color: transparent;
        color: white;
        height: 50px;
        width: 155px;
        -webkit-appearance: none;
        appearance: none;
        z-index: 1;
        padding: 0 1.5em 0 1em; }
        @media only screen and (max-width: 768px) {
          .cta-container .input-group .rounded-select select#phoneCode1,
          .cta-container .input-group .rounded-select select#phoneCode2 {
            height: 45px;
            width: 20vw; } }
        @media only screen and (max-width: 567px) {
          .cta-container .input-group .rounded-select select#phoneCode1,
          .cta-container .input-group .rounded-select select#phoneCode2 {
            width: 25vw;
            max-width: 170px; } }
      .cta-container .input-group .rounded-select .temp-select {
        display: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0 1.3em; }
    .cta-container .input-group input.input-field {
      width: 180px;
      height: 50px;
      border: 2px solid #0a0a0a;
      border-radius: 36px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 1em;
      box-shadow: none; }
      @media only screen and (max-width: 768px) {
        .cta-container .input-group input.input-field {
          height: 45px; } }
      @media only screen and (max-width: 567px) {
        .cta-container .input-group input.input-field {
          width: 100px; } }
    .cta-container .input-group button.text-me-btn {
      margin-left: 1.5rem;
      background-color: #3b7fde;
      border-radius: 36px;
      height: 50px;
      padding: 0 1.5em;
      max-width: 170px;
      width: 100%;
      position: relative; }
      .cta-container .input-group button.text-me-btn img {
        display: block;
        margin: 0 auto; }
        .cta-container .input-group button.text-me-btn img.loading {
          max-width: 60px; }
        .cta-container .input-group button.text-me-btn img.sent {
          max-width: 20px; }
      @media only screen and (max-width: 768px) {
        .cta-container .input-group button.text-me-btn {
          font-size: 90%;
          height: 45px;
          margin-left: 0.5rem; } }
      @media only screen and (max-width: 500px) {
        .cta-container .input-group button.text-me-btn {
          max-width: fit-content; } }
  .cta-container .error {
    color: #ff6161;
    display: none;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 16px; }
    @media (min-width: 567px) {
      .cta-container .error {
        font-size: calc(16px + 8 * (100vw - 567px) / 633); } }
    @media (min-width: 1200px) {
      .cta-container .error {
        font-size: 24px; } }

#section-2 {
  padding-top: 0; }
  #section-2 .tagline {
    margin-bottom: 3%;
    text-align: center; }

#section-3 {
  padding: 0;
  background-color: white;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden; }
  #section-3.active .pin-wrapper {
    position: relative; }
  #section-3 .container {
    max-width: 100%; }
    @media only screen and (max-width: 360px) {
      #section-3 .container {
        padding: 0; } }
  #section-3 .pin-navigation {
    position: absolute;
    left: 10%;
    top: 45vh;
    z-index: 10; }
    @media screen and (max-width: 991px) {
      #section-3 .pin-navigation {
        left: auto;
        right: 10%; } }
    #section-3 .pin-navigation.active {
      position: fixed;
      top: 45vh;
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
      backface-visibility: hidden; }
    #section-3 .pin-navigation.bottom {
      bottom: 45vh;
      top: auto;
      position: absolute; }
      #section-3 .pin-navigation.bottom #pin-5 {
        height: 20px;
        border-radius: 5px; }
    #section-3 .pin-navigation .dots {
      height: 10px;
      width: 9px;
      background-color: #bfbfbf;
      border-radius: 100%;
      display: block;
      margin: 10px 0; }
      #section-3 .pin-navigation .dots.active {
        height: 20px;
        border-radius: 5px; }
  #section-3 .pin-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    background-color: white;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0); }
    @media only screen and (max-width: 991px) {
      #section-3 .pin-wrapper {
        flex-flow: column-reverse; } }
  #section-3 .item {
    height: 100vh;
    width: 100%;
    position: relative;
    opacity: 0;
    visibility: hidden; }
    #section-3 .item.active {
      opacity: 1;
      visibility: visible; }
      #section-3 .item.active .pin-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden; }
        #section-3 .item.active .pin-wrapper .image:before {
          opacity: 1;
          left: -1px; }
    #section-3 .item.item-1 {
      opacity: 1;
      visibility: visible; }
      #section-3 .item.item-1 .image:before {
        background-image: url("../assets/images/screens/1st-phone-screen.png");
        opacity: 1; }
    #section-3 .item.item-2 .image:before {
      background-image: url("../assets/images/screens/2nd-phone-screen.png"); }
    #section-3 .item.item-3 .image:before {
      background-image: url("../assets/images/screens/3rd-phone-screen.png"); }
    #section-3 .item.item-4 .image:before {
      background-image: url("../assets/images/screens/4th-phone-screen.png"); }
    #section-3 .item.item-5 .image:before {
      background-image: url("../assets/images/screens/5th-phone-screen.png"); }
    #section-3 .item.item-6 .image:before {
      background-image: url("../assets/images/screens/5th-phone-screen.png");
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }
    #section-3 .item .image {
      width: 100%;
      max-width: 530px;
      height: 90vh;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom right;
      position: relative;
      left: calc(100% - 90%);
      background-image: url("../assets/images/phone-screen.png"); }
      #section-3 .item .image:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: -2px;
        width: 100%;
        height: 100%;
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: 0;
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out; }
        @media only screen and (max-width: 991px) {
          #section-3 .item .image:before {
            background-position: bottom center; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        #section-3 .item .image {
          max-width: 450px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        #section-3 .item .image {
          height: 100vh; } }
      @media only screen and (max-width: 991px) {
        #section-3 .item .image {
          left: 0;
          max-width: 100%;
          height: 75vh;
          background-position: bottom center; } }
    #section-3 .item .item-info {
      color: #0a0a0a;
      right: 0;
      text-align: left;
      width: 35%;
      height: 90vh;
      max-height: 813px;
      position: relative;
      padding-left: 1em;
      padding-right: 1em;
      left: calc(100% - 90%);
      padding-top: 2vh;
      -webkit-transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      transition: opacity 0.5s ease-in-out; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        #section-3 .item .item-info {
          padding-top: 11vh; } }
      @media only screen and (max-width: 991px) {
        #section-3 .item .item-info {
          width: 100%;
          padding-top: 4vh;
          padding-left: 0;
          padding-right: 0;
          text-align: center;
          left: 0;
          max-width: 500px;
          margin: 0 auto;
          height: 30vh; } }
      @media only screen and (min-width: 360px) and (max-width: 640px) and (orientation: landscape) {
        #section-3 .item .item-info {
          padding-top: 2vh;
          margin-bottom: 1rem; } }
      @media only screen and (max-width: 640px) {
        #section-3 .item .item-info {
          left: 0;
          padding: 4vh 2em 0; } }
      @media only screen and (max-width: 360px) {
        #section-3 .item .item-info {
          padding-top: 5vh; } }
      #section-3 .item .item-info h2 {
        color: #bfbfbf;
        position: relative;
        margin-bottom: 27vh; }
        @media only screen and (max-width: 991px) {
          #section-3 .item .item-info h2 {
            margin-bottom: 8vh; } }
        #section-3 .item .item-info h2.main-title {
          margin-top: 30vh;
          margin-bottom: 0;
          color: #0a0a0a; }
          @media only screen and (max-width: 991px) {
            #section-3 .item .item-info h2.main-title {
              margin-top: 15vh; } }
      #section-3 .item .item-info p {
        margin: 1rem 0 0; }
        @media only screen and (max-width: 991px) {
          #section-3 .item .item-info p {
            margin-top: 0.5rem; } }

/** Footer SMS section **/
#section-4 {
  padding: 0; }

/** Footer  **/
.footer-wrapper {
  position: relative;
  padding: 1em 0;
  background-color: #707070;
  /** Main navigation **/ }
  .footer-wrapper #main-nav {
    position: relative; }
    @media only screen and (max-width: 767px) {
      .footer-wrapper #main-nav {
        padding-top: 2em; } }
    .footer-wrapper #main-nav ul.navigation {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 0; }
      @media only screen and (max-width: 767px) {
        .footer-wrapper #main-nav ul.navigation {
          flex-flow: column wrap; } }
      .footer-wrapper #main-nav ul.navigation .nav-link {
        position: relative; }
        .footer-wrapper #main-nav ul.navigation .nav-link a {
          color: white;
          letter-spacing: 0.5px;
          text-decoration: none;
          font-size: 16px; }
          @media (min-width: 567px) {
            .footer-wrapper #main-nav ul.navigation .nav-link a {
              font-size: calc(16px + 8 * (100vw - 567px) / 633); } }
          @media (min-width: 1200px) {
            .footer-wrapper #main-nav ul.navigation .nav-link a {
              font-size: 24px; } }
          @media screen and (max-width: 991px) {
            .footer-wrapper #main-nav ul.navigation .nav-link a {
              font-size: 18px; } }
          .footer-wrapper #main-nav ul.navigation .nav-link a:hover {
            border-bottom: 1px solid white;
            padding-bottom: 0.5em; }
  .footer-wrapper .copyright {
    text-align: center;
    display: block;
    width: 100%;
    margin: 2rem 0 0;
    color: #9e9e9e; }

@media only screen and (min-width: 568px) {
  @keyframes travel {
    from {
      width: 0; }
    to {
      width: 52px; } }
  @keyframes career {
    from {
      width: 0; }
    to {
      width: 125px; } }
  @keyframes education {
    from {
      width: 0; }
    to {
      width: 110px; } }
  @keyframes services {
    from {
      width: 0; }
    to {
      width: 184px; } } }
/** Firefox fixes **/
@-moz-document url-prefix() {}
/** Chrome & safari fixes **/

/*# sourceMappingURL=main.css.map */
