/**
* Author: Mark Benson Opeña
**/

@import 'partials/initial-variables';
@import 'partials/mixins';

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  width: 100%;
  height: 100%;
  // overscroll-behavior: contain;
  // -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Quicksand", sans-serif;
  color: $black;
  font-size: calc(14px + (32 - 14) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 320px)/(1600 - 320)));
  overflow-x: hidden;
  background-color: $white;
  // -webkit-overflow-scrolling:touch;
  width: 100%;
}

h1 {
  @include fluid-type(font-size, 567px, 1200px, 30px, 40px);
}

h2 {
  @include fluid-type(font-size, 567px, 1200px, 25px, 32px);
}

h3 {
  @include fluid-type(font-size, 567px, 1200px, 20px, 30px);
}

p {
  @include fluid-type(font-size, 567px, 1200px, 16px, 24px);
}

.is-hidden {
  display: none;
}

/** Sections **/

#section-1 {
  height: 100vh;

  @media only screen and (max-width: 640px) {
    height: auto;
  }

  &:after {
    content: '';
    max-width: 1140px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $grey-light;
    display: block;
    margin: auto;

     @media only screen and (max-width: 640px) {
       display: none;
     }
  }
}

/** Background video **/
#hero {
  width: 100%;
  height: 45vh;
  background-color: #000000;
  text-align: center;
  overflow: hidden;

  @media only screen and (max-width: 1400px) {
    height: 36vh;
  }

  .video-cover {
    position: relative;
    width: 100%;
    height: 100%;

    .preloader {
      position: absolute;
      background: url('../assets/images/banner.jpg') center no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      max-width: 1140px;

      img {
        width: 100%;
      }
    }

    video {
      height: 45vh;
      width: 100%;
      object-fit: cover;
      max-width: 1140px;
      display: none;
    }

    @supports (object-fit: cover) and (-ms-ime-align: auto) {
      video {
        height: auto;
        object-fit: cover;
        object-position: top left;
      }
    }
  }
}

.section-wrapper {
  position: relative;
  padding: 1.5em 0;
  background-color: $white;
}

.play-icon {
  background: rgba(0, 0, 0, 0.55);
  width: 60px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 12px;
  margin: auto;
  z-index: 2;
  cursor: pointer;

  &:hover {
    background-color: #cd201f;
  }
  .tri {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #ffffff;
    margin: 0 auto;
  }
}

/** Welcome intro text **/
.welcome-intro {
  padding: 0;

  .intro {
    background-color: #222222;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    max-width: 850px;
    margin: 0 3rem;
    margin-top: -50px;

    @media screen and (max-width: 576px) {
      flex-flow: column wrap;
      align-items: flex-start;
      margin: -50px 1rem 0;
    }

    .logo {
      max-width: 200px;

      @media screen and (max-width: 767px) {
        max-width: 110px;
      }

      img {
        width: 100%;
        max-width: 200px;
      }
    }

    .info {
      margin-left: 5%;

      @media screen and (max-width: 767px) {
        margin-left: 4%;
      }

      @media screen and (max-width: 576px) {
        margin-left: 0;
      }

      p {
        color: #ffffff;
        letter-spacing: 0.3px;
        text-align: left;
        margin-bottom: 0;
        line-height: initial;
      }
    }
  }
}

/** GIF Carousel **/
#carousel-wrapper {
  padding: 1em 0;
  
  .container {
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}
.carousel {
  position: relative;

  h2 {
    text-align: center;
    margin-top: 2rem;
  }

  .carousel-image { 
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 768px) {
      display: block;
    }

    .image-holder {
      width: calc(100%/4);
      position: relative;

      @media screen and (max-width: 768px) {
        width : 100%;
      }

      &.active {
        img.active-img {
          display: block;
          visibility: visible;

          @media screen and (max-width: 768px) {
            position: relative;
            margin: auto;
            vertical-align: bottom;
          }
        }
      }

      img {
        width: 100%;

        @media screen and (max-width: 768px) {
          width: auto;
          display: block;
          text-align: center;
          max-width: 300px;

          &.default-img {
            display: none;
          }
        }

        @media screen and (max-width: 576px) {
          width: 100%;
          height: auto;
        }

        &.active-img {
          display: none;
          position: absolute;
          top: 0;
          visibility: hidden; 
        }
      }
    }
  }

  .carousel-info {
    text-align: center;
    margin-top: 1rem;

    p {
      outline: none;
      opacity: 0;
      display: none;
      transition: opacity 0.5s ease-in-out;

      &.active {
        opacity: 1;
        display: block;
      }
      
    }

    .type-text {
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      margin: 0 auto;
      margin-bottom: 5px;
      
      &.green {
        color: $green;
        animation: 0.2s travel steps(100, end);
      }

      &.cyan {
        color: $cyan;
        animation: 0.3s career steps(100, end) ;
      }

      &.orange {
        color: $orange;
        animation: 0.3s education steps(100, end);
      }

      &.red {
        color: $light-red;
        animation: .4s services steps(100, end);
      }
    }
    
  }
}

/** Call to action: SMS **/
#section-2 {
  .container {
    @media only screen and (max-width: 768px) {
      max-width: 90%;
    }

    @media only screen and (max-width: 567px) {
      max-width: 100%;
    }
  }
}

.cta-container {
  position: relative;
  padding: 3em 0;
  border-top: 1px solid $grey-lighter;
  border-bottom: 1px solid $grey-lighter;

  @media (max-width: 576px) {
    padding: 2em 0;
  }

  .logo {
    text-align: center;

    img {
      max-width: 200px;

       @media (max-width: 767px) {
         max-width: 150px;
       }
    }

    .tagline {
      margin: 1.5rem 0;
      text-align: center;

      strong {
        font-weight: 600;
      }
    }
  }

  .input-group {
    margin: 0 auto;
    justify-content: center;
    flex-flow: row wrap;
    font-size: 20px;

    @media only screen and (max-width: 767px) {
      font-size: 90%;
    }

    @media only screen and (max-width: 500px) {
      font-size: 12px;
    }

    .rounded-select {
      height: 50px;
      border-radius:36px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display:inline-block;
      overflow:hidden;
      background-color: $black;
      color: $white;
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      cursor: pointer;

      @media only screen and (max-width: 768px) {
        height: 45px;
      }

      &:before {
        content: '';
        border-style: solid;
        border-width: 2px 2px 0 0;
        display: inline-block;
        height: 12px;
        right: 10px;
        position: absolute;
        vertical-align: top;
        width: 12px;
        top: -4px;
        bottom: 0;
        transform: rotate(135deg);
        margin: auto;
        z-index: -1;

        @media only screen and (max-width: 768px) {
          height: 9px;
          width: 9px;
        }

        @media only screen and (max-width: 500px) {
          height: 7px;
          width: 7px;
          right: 6px;
          top: -2px;
        }
      }

      select#phoneCode1,
      select#phoneCode2 {
        border: 0;
        outline: 0;
        background-color: transparent;
        color: $white;
        height: 50px;
        width: 155px;
        -webkit-appearance: none;
        appearance: none;
        z-index: 1;
        padding: 0 1.5em 0 1em;

        @media only screen and (max-width: 768px) {
          height: 45px;
          width: 20vw;
        }

        @media only screen and (max-width: 567px) {
          width: 25vw;
          max-width: 170px;
        }
      }

      .temp-select {
        display: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0 1.3em;
      }
    }

    input.input-field {
      width: 180px;
      height: 50px;
      border: 2px solid $black;
      border-radius: 36px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 1em;
      box-shadow: none;

      @media only screen and (max-width: 768px) {
        height: 45px;
      }

      @media only screen and (max-width: 567px) {
        width: 100px;
      }
    }

    button.text-me-btn {
      margin-left: 1.5rem;
      background-color: $blue;
      border-radius: 36px;
      height: 50px;
      padding: 0 1.5em;
      max-width: 170px;
      width: 100%;
      position: relative;

      img {
        display: block;
        margin: 0 auto;

        &.loading {
          max-width: 60px;
        }

        &.sent {
          max-width: 20px;
        }
      }

      @media only screen and (max-width: 768px) {
        font-size: 90%;
        height: 45px;
        margin-left: 0.5rem;
      }

      @media only screen and (max-width: 500px) {
       max-width: fit-content;
      }
    }
  }

  .error {
    color: $red;
    display: none;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    display: block;
    @include fluid-type(font-size, 567px, 1200px, 16px, 24px);
  }
}

#section-2 {
  padding-top: 0;

  .tagline {
    margin-bottom: 3%;
    text-align: center;
  }
}

#section-3 {
  padding: 0;
  background-color: $white;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;

  &.active {
    .pin-wrapper {
      position: relative;
    }
  }

  .container {
    max-width: 100%;

    @media only screen and (max-width: 360px) {
      padding: 0;
    }
  }

  .pin-navigation {
    position: absolute;
    left: 10%;
    top: 45vh;
    z-index: 10;

    @media screen and (max-width: 991px) {
      left: auto;
      right: 10%;
    }

    &.active {
      position: fixed;
      top: 45vh;
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
      backface-visibility: hidden;
    }

    &.bottom {
      bottom: 45vh;
      top: auto;
      position: absolute;
      // transform: translateZ(0);
      // -webkit-transform: translateZ(0);
      // backface-visibility: hidden;

      #pin-5 {
        height: 20px;
        border-radius: 5px;
      }
    }

    .dots {
      height: 10px;
      width: 9px;
      background-color: $grey-light;
      border-radius: 100%;
      display: block;
      margin: 10px 0;

      &.active {
        height: 20px;
        border-radius: 5px;
      }
    }
  }

  .pin-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    background-color: $white;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);

    @media only screen and (max-width: 991px) {
      flex-flow: column-reverse;
    }
  }

  .item {
    height: 100vh;
    width: 100%;
    position: relative;
    opacity: 0;
    visibility: hidden;

    &.active {
     opacity: 1;
     visibility: visible;
      .pin-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;

        .image {
          &:before {
            opacity: 1;
            left: -1px;
          }
        }
      }
    }

    &.item-1 {
      opacity: 1;
      visibility: visible;

      .image {
        &:before {
          background-image: url('../assets/images/screens/1st-phone-screen.png');
          opacity: 1;
        }
      }
    }

    &.item-2 {
      .image {
        &:before {
          background-image: url('../assets/images/screens/2nd-phone-screen.png');
        }
      }
    }

    &.item-3 {
      .image {
        &:before {
          background-image: url('../assets/images/screens/3rd-phone-screen.png');
        }
      }
    }

    &.item-4 {
      .image {
        &:before {
          background-image: url('../assets/images/screens/4th-phone-screen.png');
        }
      }
    }

    &.item-5 {
      .image {
        &:before {
          background-image: url('../assets/images/screens/5th-phone-screen.png');
        }
      }
    }

    &.item-6 {
      .image {
        &:before {
          background-image: url('../assets/images/screens/5th-phone-screen.png');
          -webkit-transition: none;
          -moz-transition: none;
          -o-transition: none;
          transition: none;
        }
      }
    }

    .image {
      width: 100%;
      max-width: 530px;
      height: 90vh;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom right;
      position:relative;
      left: calc(100% - 90%);
      background-image: url('../assets/images/phone-screen.png');

      &:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: -2px;
        width: 100%;
        height: 100%;
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: 0;
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;

        @media only screen and (max-width: 991px) {
          background-position: bottom center;
        }
      }
      
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        max-width: 450px;
      }

      @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        height: 100vh;
      }

      @media only screen and (max-width: 991px) {
        left: 0;
        max-width: 100%;
        height: 75vh;
        background-position: bottom center;
      }
    }

    .item-info {
      color: $black;
      right: 0;
      text-align: left;
      width: 35%;
      height: 90vh;
      max-height: 813px;
      position: relative;
      padding-left: 1em;
      padding-right: 1em;
      left: calc(100% - 90%);
      padding-top: 2vh;
      -webkit-transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      transition: opacity 0.5s ease-in-out;

      @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        padding-top: 11vh;
      }

      @media only screen and (max-width: 991px) {
        width: 100%;
        padding-top: 4vh;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        left: 0;
        max-width: 500px;
        margin: 0 auto;
        height: 30vh;
      }

      @media only screen and (min-width: 360px) and (max-width: 640px) and (orientation: landscape){
        padding-top: 2vh;
        margin-bottom: 1rem;
      }

      @media only screen and (max-width: 640px) {
        left: 0;
        padding: 4vh 2em 0;
      }

      @media only screen and (max-width: 360px) {
        padding-top: 5vh;
      }

     h2 {
      color: $grey-light;
      position: relative;
      margin-bottom: 27vh;

      @media only screen and (max-width: 991px) {
        margin-bottom: 8vh;
      }

      &.main-title {
        margin-top: 30vh;
        margin-bottom: 0;
        color: $black;

        @media only screen and (max-width: 991px) {
          margin-top: 15vh
        }
      }
     }

      p {
        margin: 1rem 0 0;

        @media only screen and (max-width: 991px) {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

/** Footer SMS section **/
#section-4 {
  padding: 0;
}

/** Footer  **/
.footer-wrapper {
  position: relative;
  padding: 1em 0;
  background-color: #707070;

  /** Main navigation **/
  #main-nav {
    position: relative;

    @media only screen and (max-width: 767px) {
      padding-top: 2em;
    }
  
    ul.navigation {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 0;

      @media only screen and (max-width: 767px) {
        flex-flow: column wrap;
      }

      .nav-link {
        position: relative;

        a {
          color: $white;
          letter-spacing: 0.5px;
          text-decoration: none;
          @include fluid-type(font-size, 567px, 1200px, 16px, 24px);

          @media screen and (max-width: 991px) {
            font-size: 18px;
          }

          &:hover {
            border-bottom: 1px solid $white;
            padding-bottom: 0.5em;
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;
    display: block;
    width: 100%;
    margin: 2rem 0 0;
    color: $grey;
  }
}

@media only screen and (min-width: 568px) {
  @keyframes travel {
    from {
      width: 0;
    }

    to {
      width: 52px;
    }
  }

  @keyframes career {
    from {
      width: 0;
    }

    to {
      width: 125px;
    }
  }

  @keyframes education {
    from {
      width: 0;
    }

    to {
      width: 110px;
    }
  }

  @keyframes services {
    from {
      width: 0;
    }

    to {
      width: 184px;
    }
  }
}

/** Firefox fixes **/
@-moz-document url-prefix() {
  // .rounded-select {
  //   select {
  //     padding: 0 1.5em 0 1em;
  //   }
  // }
}

/** Chrome & safari fixes **/
@media screen and (-webkit-min-device-pixel-ratio:0) {

  // .rounded-select {
  //   select {
  //     padding: 0 0.75em;
  //   }
  // }
   
}