/**
* Author: Mark Benson Opeña
**/

@import 'partials/initial-variables';
@import 'partials/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  font-size: calc(14px + (32 - 14) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 320px)/(1600 - 320)));
}

h1 {
  @include fluid-type(font-size, 767px, 1200px, 30px, 40px);
}

h2 {
  @include fluid-type(font-size, 767px, 1200px, 25px, 32px);
}

h3 {
  @include fluid-type(font-size, 767px, 1200px, 20px, 30px);
}

p {
  @include fluid-type(font-size, 767px, 1200px, 16px, 24px);
}

#section-1 {
  height: 100vh;

  &:after {
    content: '';
    max-width: 1140px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $grey-light;
    display: block;
    margin: auto;
  }
}

#hero {
  width: 100%;
  height: 45vh;
  background-color: #000000;
  text-align: center;
  overflow: hidden;

  @media only screen and (max-width: 1400px) {
    height: 35vh;
  }

  // @media only screen and (max-width: 991px) {
  //   height: 30vh;
  // }

  .video-cover {
    position: relative;
    width: 100%;
    height: 100%;

    .preloader {
      position: absolute;
      background: url('../assets/images/banner.jpg') center no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      max-width: 1140px;

      img {
        width: 100%;
      }
    }

    video {
      height: 45vh;
      width: 100%;
      object-fit: cover;
      max-width: 1140px;
      display: none;

      @media only screen and (min-width: 1200px) {
        height: 35vh;
      }
    }

    @supports (object-fit: cover) and (-ms-ime-align: auto) {
      video {
        height: auto;
        object-fit: cover;
        object-position: top left;
      }
    }
  }
}

.section-wrapper {
  position: relative;
  padding: 1.5em 0;

  // @media only screen and (max-width: 1280px) {
  //   padding: 2em 0;
  // }
}

.play-icon {
  background: rgba(0, 0, 0, 0.55);
  width: 60px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 12px;
  margin: auto;
  z-index: 2;
  cursor: pointer;

  &:hover {
    background-color: #cd201f;
  }
  .tri {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #ffffff;
    margin: 0 auto;
  }
}

// Intro text
.section-1 {
  margin-top: -8%;
  padding-bottom: 0;

  // @media screen and (max-width: 767px) {
  //   margin-top: -70px;
  // }

  .intro {
    background-color: #222222;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    max-width: 850px;
    margin: 0 3rem;

    @media screen and (max-width: 576px) {
      flex-flow: column wrap;
      align-items: flex-start;
      margin: 0 2rem;
    }

    .logo {
      max-width: 200px;

      @media screen and (max-width: 767px) {
        max-width: 110px;
      }

      img {
        width: 100%;
        max-width: 200px;
      }
    }

    .info {
      margin-left: 5%;

      @media screen and (max-width: 767px) {
        margin-left: 4%;
      }

      p {
        // font-size: 24px;
        color: #ffffff;
        // line-height: 28px;
        letter-spacing: 0.3px;
        text-align: left;
        margin-bottom: 0;
      }
    }
  }
}

// Carousel

#section-2 {
  padding: 1em 0;
  
  .container {
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}
.carousel {
  position: relative;

  h2 {
    text-align: center;
    // font-size: 32px;
    margin-top: 2rem;
  }

  .carousel-image { 
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 768px) {
      display: block;
    }

    .image-holder {
      width: calc(100%/4);
      position: relative;

      @media screen and (max-width: 768px) {
        width : 100%;
      }

      &.active {
        img.active-img {
          display: block;

          @media screen and (max-width: 768px) {
            position: relative;
            margin: auto;
            vertical-align: bottom;
          }
        }
      }

      img {
        width: 100%;

        @media screen and (max-width: 768px) {
          width: auto;
          display: block;
          text-align: center;
          // height: 209px;
          max-width: 300px;

          &.default-img {
            display: none;
          }
        }

        @media screen and (max-width: 576px) {
          width: 100%;
          height: auto;
        }

        &.active-img {
          display: none;
          position: absolute;
          top: 0;
          
        }
      }
    }
    
  }

  .carousel-info {
    text-align: center;
    margin-top: 1rem;

    p {
      // font-size: 28px;
      outline: none;
      
    }
    .type-text {
      white-space: nowrap;
      overflow: hidden;
      // animation: 3s typing steps(100, end);
      // display: inline-block;
      // vertical-align: middle;

      
      &.green {
        color: $green;
      }

      &.cyan {
        color: $cyan;
      }

      &.orange {
        color: $orange;
      }

      &.red {
        color: $light-red;
      }
    }
    
  }
}

// Call to action
.cta-container {
  position: relative;
  padding: 3em 0;
  border-top: 1px solid $grey-lighter;
  border-bottom: 1px solid $grey-lighter;

  .logo {
    text-align: center;

    img {
      max-width: 200px;
    }

    .tagline {
      margin: 1.5rem 0;

      strong {
        font-weight: 600;
      }
    }
  }

  .input-group {
    margin: 0 auto;
    justify-content: center;
    flex-flow: row wrap;
    font-size: 20px;

    @media (max-width: 767px) {
      max-width: 540px;
      font-size: 90%;
    }

    .rounded-select {
      height: 60px;
      border-radius:36px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display:inline-block;
      overflow:hidden;
      background-color: $black;
      color: $white;
      padding: 0 1em;
      position: relative;

      @media (max-width: 767px) {
        height: 45px;
      }

      &:before {
        content: '';
        border-style: solid;
        border-width: 2px 2px 0 0;
        display: inline-block;
        height: 12px;
        right: 10px;
        position: absolute;
        vertical-align: top;
        width: 12px;
        top: 0;
        bottom: 0;
        transform: rotate(135deg);
        margin: auto;
      }

      select#phoneCode1,
      select#phoneCode2 {
        border: 0;
        outline: 0;
        background-color: transparent;
        color: $white;
        height: 60px;
        width: 115px;
        -webkit-appearance: none;
        appearance: none;

        @media (max-width: 767px) {
          height: 45px;
        }
      }

      #temp-select {
        display: none;
      }
    }

    input.input-field {
      width: 180px;
      height: 60px;
      border: 2px solid $black;
      border-radius: 36px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 1em;
      box-shadow: none;

      @media (max-width: 767px) {
        height: 45px;
      }

      @media (max-width: 567px) {
        width: 130px;
      }
    }

    button.btn.btn-primary {
      margin-left: 1.5rem;
      background-color: $blue;
      border-radius: 36px;
      height: 60px;
      padding: 0 1.5em;
      max-width: 210px;

      @media screen and (max-width: 767px) {
        font-size: 90%;
        height: 45px;
      }
    }
  }

  .error {
    color: $red;
    display: none;
    margin-top: 1rem;
    text-align: center;
    max-width: 50%;
    flex: 1 100%;
  }
}

#section-3 {
  padding-top: 0;
}

#section-4 {
  padding: 0;
  // border-bottom: 1px solid $grey-light;
  background-color: $white;
  position: relative;
  overflow: hidden;

  // .usage-container {
  //   position: relative;
  // }

  .pin-navigation {
    // position: fixed;
    // top: 45vh;
    // left: 10%;
    // z-index: 10;

    .dots {
      height: 10px;
      width: 9px;
      background-color: $grey-light;
      border-radius: 100%;
      display: block;
      margin: 10px 0;

      &.active {
        height: 20px;
        border-radius: 5px;
      }
    }
  }

  .pin-wrapper {
    height: 100%;
  }

  .scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
    width: 100%;
    height: 100% !important;
  }

  .item {
    height: 100vh;
    position: relative;

    &.item-1 {
      .image {
        background-image: url('../assets/images/1st-phone-screen.png');
        top: 100%;

        // @media screen and (max-width: 1280px) {
        //   top: 33%;
        // }
      }

      .item-info {
        // position: relative;
        top: 53%;

        .main-title {
          top: 0;
          color: $black;
        }
      }
    }

    &.item-2 {
      .image {
        background-image: url('../assets/images/2nd-phone-screen.png');
        // top: -67%;
      }
    }

    &.item-3 {
      .image {
        background-image: url('../assets/images/3rd-phone-screen.png');
        // top: -67%;
      }
    }

    &.item-4 {
      .image {
        background-image: url('../assets/images/4th-phone-screen.png');
        // top: -67%;
      }
    }

    &.item-5 {
      .image {
        background-image: url('../assets/images/5th-phone-screen.png');
        // top: -67%;
      }
    }

    .image {
      // margin-top: -200px;
      margin-top: -100vh;
      // width: 530px;
      width: 100vw;
      // height: 813px;
      height: 100vh;
      position: absolute;
      // top: -60%;
      top: 0;
      left: 29%;
      background-size: contain;
      background-repeat: no-repeat;

      // @media screen and (max-width: 1280px) {
      //   top: -67%;
      // }
    }

    .item-info {
      color: $black;
      position: absolute;
      // top: -58%;
      // right: 12%;
      top: -70vh;
      // right: 10vw;
      right: 0;
      text-align: left;
      // width: 508px;
      width: 38%;
      padding-right: 1.5em;

     h2 {
       color: $grey-light;
       position: relative;
      //  top: -205px;
      top: -28vh;
     }

      h3 {
        // font-size: 30px;
      }

      p {
        // font-size: 26px;
        margin: 1rem 0 0;
      }
    }
  }

}

#section-5 {
  padding: 0 0 1em;

  @media only screen and (max-width: 767px) {
    padding-bottom: 0;
  }
}

/** Main navigation **/
#main-nav {
  position: relative;

  @media only screen and (max-width: 767px) {
     padding-top: 2em;
  }
 
  ul.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;

    @media only screen and (max-width: 767px) {
      flex-flow: column wrap;
    }

    .nav-link {
      position: relative;

      a {
        color: $black;
        letter-spacing: 0.5px;
        text-decoration: none;
        @include fluid-type(font-size, 567px, 1200px, 16px, 24px);

        @media screen and (max-width: 991px) {
          font-size: 18px;
        }

        // &:before {
        //   content: '';
        //   width: 100%;
        //   border-bottom: 1px solid $black;
        //   position: absolute;
        //   bottom: 0;
        // }

        &:hover {
          // color: $blue;
          border-bottom: 1px solid $black;
          padding-bottom: 0.5em;
        }
      }

      &.active {
        a {
          
        }
      }
    }
  }
}

/** Footer **/
.footer-wrapper {
  position: relative;
  padding: 2em 0;

  .copyright {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    color: $grey;
  }
}



@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }

  // to {
  //   width: 100%
  // }

  // to {
  //   width: 50%
  // }
}




