@charset "UTF-8";
/**
* Author: Mark Benson Opeña
**/
/** Modular scale **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif; }

body {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  font-size: calc(14px + (32 - 14) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 320px)/(1600 - 320))); }

h1 {
  font-size: 30px; }
  @media (min-width: 767px) {
    h1 {
      font-size: calc(30px + 10 * (100vw - 767px) / 433); } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 25px; }
  @media (min-width: 767px) {
    h2 {
      font-size: calc(25px + 7 * (100vw - 767px) / 433); } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 32px; } }

h3 {
  font-size: 20px; }
  @media (min-width: 767px) {
    h3 {
      font-size: calc(20px + 10 * (100vw - 767px) / 433); } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 30px; } }

p {
  font-size: 16px; }
  @media (min-width: 767px) {
    p {
      font-size: calc(16px + 8 * (100vw - 767px) / 433); } }
  @media (min-width: 1200px) {
    p {
      font-size: 24px; } }

#section-1 {
  height: 100vh; }
  #section-1:after {
    content: '';
    max-width: 1140px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #bfbfbf;
    display: block;
    margin: auto; }

#hero {
  width: 100%;
  height: 45vh;
  background-color: #000000;
  text-align: center;
  overflow: hidden; }
  @media only screen and (max-width: 1400px) {
    #hero {
      height: 35vh; } }
  #hero .video-cover {
    position: relative;
    width: 100%;
    height: 100%; }
    #hero .video-cover .preloader {
      position: absolute;
      background: url("../assets/images/banner.jpg") center no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      max-width: 1140px; }
      #hero .video-cover .preloader img {
        width: 100%; }
    #hero .video-cover video {
      height: 45vh;
      width: 100%;
      object-fit: cover;
      max-width: 1140px;
      display: none; }
      @media only screen and (min-width: 1200px) {
        #hero .video-cover video {
          height: 35vh; } }
    @supports (object-fit: cover) and (-ms-ime-align: auto) {
      #hero .video-cover video {
        height: auto;
        object-fit: cover;
        object-position: top left; } }

.section-wrapper {
  position: relative;
  padding: 1.5em 0; }

.play-icon {
  background: rgba(0, 0, 0, 0.55);
  width: 60px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 12px;
  margin: auto;
  z-index: 2;
  cursor: pointer; }
  .play-icon:hover {
    background-color: #cd201f; }
  .play-icon .tri {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #ffffff;
    margin: 0 auto; }

.section-1 {
  margin-top: -8%;
  padding-bottom: 0; }
  .section-1 .intro {
    background-color: #222222;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    max-width: 850px;
    margin: 0 3rem; }
    @media screen and (max-width: 576px) {
      .section-1 .intro {
        flex-flow: column wrap;
        align-items: flex-start;
        margin: 0 2rem; } }
    .section-1 .intro .logo {
      max-width: 200px; }
      @media screen and (max-width: 767px) {
        .section-1 .intro .logo {
          max-width: 110px; } }
      .section-1 .intro .logo img {
        width: 100%;
        max-width: 200px; }
    .section-1 .intro .info {
      margin-left: 5%; }
      @media screen and (max-width: 767px) {
        .section-1 .intro .info {
          margin-left: 4%; } }
      .section-1 .intro .info p {
        color: #ffffff;
        letter-spacing: 0.3px;
        text-align: left;
        margin-bottom: 0; }

#section-2 {
  padding: 1em 0; }
  @media (max-width: 767px) {
    #section-2 .container {
      max-width: 100%; } }

.carousel {
  position: relative; }
  .carousel h2 {
    text-align: center;
    margin-top: 2rem; }
  .carousel .carousel-image {
    display: flex;
    align-items: flex-end; }
    @media screen and (max-width: 768px) {
      .carousel .carousel-image {
        display: block; } }
    .carousel .carousel-image .image-holder {
      width: calc(100%/4);
      position: relative; }
      @media screen and (max-width: 768px) {
        .carousel .carousel-image .image-holder {
          width: 100%; } }
      .carousel .carousel-image .image-holder.active img.active-img {
        display: block; }
        @media screen and (max-width: 768px) {
          .carousel .carousel-image .image-holder.active img.active-img {
            position: relative;
            margin: auto;
            vertical-align: bottom; } }
      .carousel .carousel-image .image-holder img {
        width: 100%; }
        @media screen and (max-width: 768px) {
          .carousel .carousel-image .image-holder img {
            width: auto;
            display: block;
            text-align: center;
            max-width: 300px; }
            .carousel .carousel-image .image-holder img.default-img {
              display: none; } }
        @media screen and (max-width: 576px) {
          .carousel .carousel-image .image-holder img {
            width: 100%;
            height: auto; } }
        .carousel .carousel-image .image-holder img.active-img {
          display: none;
          position: absolute;
          top: 0; }
  .carousel .carousel-info {
    text-align: center;
    margin-top: 1rem; }
    .carousel .carousel-info p {
      outline: none; }
    .carousel .carousel-info .type-text {
      white-space: nowrap;
      overflow: hidden; }
      .carousel .carousel-info .type-text.green {
        color: #5ba042; }
      .carousel .carousel-info .type-text.cyan {
        color: #0096e6; }
      .carousel .carousel-info .type-text.orange {
        color: #e3a036; }
      .carousel .carousel-info .type-text.red {
        color: #ed6a88; }

.cta-container {
  position: relative;
  padding: 3em 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede; }
  .cta-container .logo {
    text-align: center; }
    .cta-container .logo img {
      max-width: 200px; }
    .cta-container .logo .tagline {
      margin: 1.5rem 0; }
      .cta-container .logo .tagline strong {
        font-weight: 600; }
  .cta-container .input-group {
    margin: 0 auto;
    justify-content: center;
    flex-flow: row wrap;
    font-size: 20px; }
    @media (max-width: 767px) {
      .cta-container .input-group {
        max-width: 540px;
        font-size: 90%; } }
    .cta-container .input-group .rounded-select {
      height: 60px;
      border-radius: 36px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: inline-block;
      overflow: hidden;
      background-color: #0a0a0a;
      color: white;
      padding: 0 1em;
      position: relative; }
      @media (max-width: 767px) {
        .cta-container .input-group .rounded-select {
          height: 45px; } }
      .cta-container .input-group .rounded-select:before {
        content: '';
        border-style: solid;
        border-width: 2px 2px 0 0;
        display: inline-block;
        height: 12px;
        right: 10px;
        position: absolute;
        vertical-align: top;
        width: 12px;
        top: 0;
        bottom: 0;
        transform: rotate(135deg);
        margin: auto; }
      .cta-container .input-group .rounded-select select#phoneCode1,
      .cta-container .input-group .rounded-select select#phoneCode2 {
        border: 0;
        outline: 0;
        background-color: transparent;
        color: white;
        height: 60px;
        width: 115px;
        -webkit-appearance: none;
        appearance: none; }
        @media (max-width: 767px) {
          .cta-container .input-group .rounded-select select#phoneCode1,
          .cta-container .input-group .rounded-select select#phoneCode2 {
            height: 45px; } }
      .cta-container .input-group .rounded-select #temp-select {
        display: none; }
    .cta-container .input-group input.input-field {
      width: 180px;
      height: 60px;
      border: 2px solid #0a0a0a;
      border-radius: 36px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 1em;
      box-shadow: none; }
      @media (max-width: 767px) {
        .cta-container .input-group input.input-field {
          height: 45px; } }
      @media (max-width: 567px) {
        .cta-container .input-group input.input-field {
          width: 130px; } }
    .cta-container .input-group button.btn.btn-primary {
      margin-left: 1.5rem;
      background-color: #3b7fde;
      border-radius: 36px;
      height: 60px;
      padding: 0 1.5em;
      max-width: 210px; }
      @media screen and (max-width: 767px) {
        .cta-container .input-group button.btn.btn-primary {
          font-size: 90%;
          height: 45px; } }
  .cta-container .error {
    color: #ff6161;
    display: none;
    margin-top: 1rem;
    text-align: center;
    max-width: 50%;
    flex: 1 100%; }

#section-3 {
  padding-top: 0; }

#section-4 {
  padding: 0;
  background-color: white;
  position: relative;
  overflow: hidden; }
  #section-4 .pin-navigation .dots {
    height: 10px;
    width: 9px;
    background-color: #bfbfbf;
    border-radius: 100%;
    display: block;
    margin: 10px 0; }
    #section-4 .pin-navigation .dots.active {
      height: 20px;
      border-radius: 5px; }
  #section-4 .pin-wrapper {
    height: 100%; }
  #section-4 .scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
    width: 100%;
    height: 100% !important; }
  #section-4 .item {
    height: 100vh;
    position: relative; }
    #section-4 .item.item-1 .image {
      background-image: url("../assets/images/1st-phone-screen.png");
      top: 100%; }
    #section-4 .item.item-1 .item-info {
      top: 53%; }
      #section-4 .item.item-1 .item-info .main-title {
        top: 0;
        color: #0a0a0a; }
    #section-4 .item.item-2 .image {
      background-image: url("../assets/images/2nd-phone-screen.png"); }
    #section-4 .item.item-3 .image {
      background-image: url("../assets/images/3rd-phone-screen.png"); }
    #section-4 .item.item-4 .image {
      background-image: url("../assets/images/4th-phone-screen.png"); }
    #section-4 .item.item-5 .image {
      background-image: url("../assets/images/5th-phone-screen.png"); }
    #section-4 .item .image {
      margin-top: -100vh;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 29%;
      background-size: contain;
      background-repeat: no-repeat; }
    #section-4 .item .item-info {
      color: #0a0a0a;
      position: absolute;
      top: -70vh;
      right: 0;
      text-align: left;
      width: 38%;
      padding-right: 1.5em; }
      #section-4 .item .item-info h2 {
        color: #bfbfbf;
        position: relative;
        top: -28vh; }
      #section-4 .item .item-info p {
        margin: 1rem 0 0; }

#section-5 {
  padding: 0 0 1em; }
  @media only screen and (max-width: 767px) {
    #section-5 {
      padding-bottom: 0; } }

/** Main navigation **/
#main-nav {
  position: relative; }
  @media only screen and (max-width: 767px) {
    #main-nav {
      padding-top: 2em; } }
  #main-nav ul.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0; }
    @media only screen and (max-width: 767px) {
      #main-nav ul.navigation {
        flex-flow: column wrap; } }
    #main-nav ul.navigation .nav-link {
      position: relative; }
      #main-nav ul.navigation .nav-link a {
        color: #0a0a0a;
        letter-spacing: 0.5px;
        text-decoration: none;
        font-size: 16px; }
        @media (min-width: 567px) {
          #main-nav ul.navigation .nav-link a {
            font-size: calc(16px + 8 * (100vw - 567px) / 633); } }
        @media (min-width: 1200px) {
          #main-nav ul.navigation .nav-link a {
            font-size: 24px; } }
        @media screen and (max-width: 991px) {
          #main-nav ul.navigation .nav-link a {
            font-size: 18px; } }
        #main-nav ul.navigation .nav-link a:hover {
          border-bottom: 1px solid #0a0a0a;
          padding-bottom: 0.5em; }

/** Footer **/
.footer-wrapper {
  position: relative;
  padding: 2em 0; }
  .footer-wrapper .copyright {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    color: #9e9e9e; }

@keyframes typing {
  from {
    width: 0%; }
  to {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
